.main-content {
    text-align: center;

    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    min-height: 100vh;     
     
}

/* Estilos para cada notificación */
.notificacion-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.notificacion-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Estilos para el mensaje */
.notificacion-mensaje {
    flex: 1;
    font-size: 1.1rem;
    color: #5a3e2b;
}

/* Estilos para la imagen */
.notificacion-imagen {
    flex: 0 0 150px; /* Tamaño fijo, no crece ni se encoge */
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.notificacion-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
}
/* Estilos para la fecha */
.notificacion-fecha {
    font-size: 0.9rem;
    color: #777;
    margin-top: 10px;
}

/* Estilos para el mensaje cuando no hay notificaciones */
.no-notificaciones {
    text-align: center;
    font-size: 1.2rem;
    color: #8d583d;
    margin-top: 50px;
}

