.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main-content h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #8d583d; /* Color principal */
}
.table-container {
    overflow-x: auto; /* Permite el desplazamiento horizontal si la tabla es más ancha que el contenedor */
}
.table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
    margin-top: 20px;
    background-color: #2b3e5a; /* Fondo de la tabla */
}
.table thead {
    background-color: #3d8d58; /* Encabezados */
    color: #1a1a1a; /* Texto */
}
.table tbody tr:nth-child(odd) {
    background-color: #e0c78d; /* Filas alternas */
    color: #1a1a1a; /* Texto */
}
.table tbody tr:nth-child(even) {
    background-color: #fff; /* Color de fondo alternativo */
    color: #1a1a1a; /* Texto */
}
.table tbody tr:hover {
    background-color: #3d8d58; /* Color de fondo al pasar el ratón */
    color: #fff; /* Color de texto al pasar el ratón */
}
.table .btn-primary {
    background-color: #d94e4e; /* Bordes */
    border-color: #d94e4e; /* Bordes */
}
.table .btn-primary:hover {
    background-color: #3d8d58; /* Color secundario */
    border-color: #3d8d58; /* Color secundario */
}