.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.main-content{
    min-height: 70vh;   
 }
.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px; /* Esquinas redondeadas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px; /* Aumentar el ancho */
    max-width: 100%; /* Asegurarse de que no exceda el ancho del contenedor padre */
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
}

.producto:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.producto h2 {
    font-size: 1.4em;
    margin: 10px 0;
    color: #333;
    word-wrap: break-word; /* Permitir que el texto se ajuste */
}

.producto p {
    color: #666;
    font-size: 1em;
    margin: 10px 0;
    word-wrap: break-word; /* Permitir que el texto se ajuste */
}

/* Estilo mejorado para las imágenes */
.producto img {
    width: 150px; /* Tamaño uniforme */
    height: 150px; /* Tamaño uniforme */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    border-radius: 15px; /* Esquinas redondeadas */
    border: 3px solid #ddd; /* Borde sutil */
    margin-bottom: 15px;
}
